<style media="screen">
  div.bg {
         background-image: url("sunrise.jpg");
         height: 100%;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;  }
      </style>
